<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="Mmsbuilder_Connector_Observer_ControllerActionPredispatch" 
        	instance="Mmsbuilder\Connector\Observer\ControllerActionPredispatch" shared="false"   />
    </event>
    <event name="checkout_submit_all_afters">
        <observer name="Mmsbuilder_Connector_Observer_SalesOrderPlaceAfterObserver" instance="Mmsbuilder\Connector\Observer\SalesOrderPlaceAfterObserver" />
    </event>
      <event name="customer_register_app">
        <observer name="Mmsbuilder_Connector_Observer_mss_customer_register_success_observer" instance="Mmsbuilder\Connector\Observer\MssCustomerRegisterSuccessObserver" />
    </event>
     <event name="customer_order_placed_app">
        <observer name="Mmsbuilder_Connector_Observer_mss_sales_order_place_after_observer" instance="Mmsbuilder\Connector\Observer\MssSalesOrderPlaceAfterObserver" />
    </event>
</config>
